*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #D9EDBF;
}
#heading{
    font-family: "Pacifico", cursive;
    font-weight: 600;
    color: #2C7865;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin: 50px auto auto;
    padding: 20px;
    text-align: center;
}

.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px auto auto;
    width:40%;

}
.dice{
    height:200px;
    width: 200px;
    border-radius: 20px;
    background-color: #FF9800;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding:10%;
    gap:10%;

}

.dot{
    border-radius: 50%;
}



.diceContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player{
    margin:20px;
    font-size: 30px;
    font-family: "Caveat", cursive;
    font-weight: 700;
    color: #1b5000;
}

.footer>p{
    text-align: center;
    color: #90D26D;
    font-size: 32px;
    margin-top: 30px;
}

@media(max-width: 1250px){
    .main{
        flex-direction: column;
    }
    .player{
        font-size: 4rem;
    }
    .dice{
        height:500px;
        width:500px;
        border-radius: 50px;
    }
    #heading{
        font-size: 5.5rem;
    }
    .footer>p{
        text-align: center;
        color: #90D26D;
        font-size: 3rem;
        font-weight: 700;
        margin-top: 80px;
    }
}