
*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #121321;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.circle{
    height:350px;
    width:350px;
    position:absolute;
    border-radius: 50%;
}

#circle2{
    bottom:10%;
    right:20%;
    background: linear-gradient(-90deg, blueviolet,white);
}

#circle1{
    top:10%;
    left:20%;
    background: linear-gradient(90deg, blueviolet,white);
}

.card-container{
    position:relative;
    height:350px;
    width:600px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
}

.card{
    position: absolute;
    height:350px;
    width:600px;
}

.front-face{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(30px); 

}
.back-face{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(30px); 
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    
}

.card-container:hover{
    transform: rotateY(180deg);
}

p{
    color:white
}

.logo{
    height:60px;
}

.scn{
    height:50px;
}

.cardTitle{
    display:flex;
    width:80%;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    margin-top: 40px;
}

#Title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.company{
    font-size: 24px;
}

.crdNum{
    display:flex;
    flex-direction: column;
    width:80%;
    margin:auto;
    margin-top:50px;
}

.cardNumber{
    font-size: 30px;
}

.holder{
    display:flex;
    width:80%;
    margin:auto;
    justify-content: space-between;
    align-items: flex-end;
    margin-top:20px;
}

.name{
    font-size: 20px;
}

.expdt{
    text-align: center;
}

#customer{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-size: 12px;
    justify-content: center;
}

.strip{
    background-color: black;
    width:100%;
    height:70px;
    margin-top: 10px;
}

.cvv{
    width:80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.num{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    height:30px;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
}

.cover{
    position: absolute;
    height:50px;
    width:380px;
    background: repeating-linear-gradient(white 0% 10%, rgb(209, 209, 209) 10% 20%);
    border-radius: 5px;
}

.footer{
    width:80%;
    margin:auto;
    margin-top: 30px;
}

.footer>p{
    font-size: 14px;
}